* {
    background-color: #2E3440;
}

.h1,
.h3,
.h4,
.p,
.list {
    color: #D8DEE9;
    background-color: #2E3440;
    font-family: Arial, Helvetica, sans-serif;
}

.list.link,
.link {
    color: #8FBCBB;
    background-color: #2E3440;
    font-family: Arial, Helvetica, sans-serif;
}

#img-pancakes {
    height: auto;
    width: 1000px;
}

#img-paella {
    height: auto;
    width: 800px;
}

#img-pizza {
    height: auto;
    width: 900px;
}
