* {
    background-color: #2E3440;
}

.h1,
.h3,
.h4,
.p,
.list {
    color: #D8DEE9;
    background-color: #2E3440;
    font-family: Arial, Helvetica, sans-serif;
}

.link {
    color: #8FBCBB;
    background-color: #2E3440;
    font-family: Arial, Helvetica, sans-serif;
}

#img-pancakes,
#img-pancakes-index {
    height: auto;
    width: 1000px;
}

#img-paella,
#img-paella-index {
    height: auto;
    width: 800px;
}

#img-pizza,
#img-pizza-index {
    height: auto;
    width: 900px;
}

#img-pancakes, 
#img-paella, 
#img-pizza,
#img-pancakes-index,
#img-paella-index,
#img-pizza-index {
    margin: auto;
    display: block;
    border-radius: 20px;
}

.h1 {
    text-align: center;
    background-color: #282828;
    padding: 10px;
    margin-left: 700px;
    margin-right: 700px;
    border-radius: 20px;
}

ul li,
ol li {
    margin-bottom: 10px;
    text-align: left;
}

.h3#pancakes,
.p#pancakes,
.list.unordered#pancakes,
.list.ordered#pancakes {
    margin-left: 350px;
    text-align: left;
}

.h3#paella,
.h4#paella,
.p#paella,
.list.unordered#paella,
.list.ordered#paella {
    margin-left: 450px;
    text-align: left;
}

.h3#pizza,
.h4#pizza,
.p#pizza,
.list.unordered#pizza,
.list.ordered#pizza {
    margin-left: 400px;
    text-align: left;
}

#img-pancakes-index {
    margin-left: 0px;
    margin-bottom: 20px;
}

#img-paella-index {
    margin-right: 0px;
    margin-top: 100px;
    margin-bottom: 20px;
}

#img-pizza-index {
    margin-left: 0px;
    margin-top: 100px;
    margin-bottom: 20px;
}

.link1 {
    margin-left: 450px;
}

.link2 {
    margin-left: 1270px;
}

.link3 {
    margin-left: 400px;
}

.link1,
.link2,
.link3 {
    color: #8FBCBB;
    background-color: #282828;
    padding: 10px;
    border-radius: 20px;
}